<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>finding vehicle</title>
</head>
<body>
    <h1>vaahanGO</h1>
    <h2>This is find page</h2>
    <div>
         <form method="get" action="/search">
         <label>Search: </label>
         <input type="text" id="search" name="search" placeholder="Search no.">
         <button type="submit" id="search">SEARCH</button>
        </form>
     </div> 
</body>
</html>