<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the homepage of vaahanGo</h1>
    <form method="get" action='/register'>
    <button method="submit">Register</button></form>
    <form method="get" action='/find'> <button method="submit">Search Vehicle</button></form></form>
</body>
</html>