<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VAAHAN GO</title>
    <link rel="stylesheet" href="style.css">
</head>
<style>
    div{
    text-align:center;
    margin:10px;
    padding:5px;
}

table{
    margin: 50px auto;
}

table,th,td{
    border-collapse:collapse;
    border:1px solid black;
}

th,td{
    padding: 3px;
}
</style>
<body>
    <h1>vaahanGO</h1>
     <div>
         <form method="POST" action ="/result" >
         
         <label>Vehicle no.: </label>
         <input type="text" id="no" name="no">
         <br>
         <label>Registered Name: </label>
         <input type="text" id="name" name="name">
        <br>
         <label>Registration date: </label>
         <input type="text" id="date" name="date">
         <br>
         <label>Chassis no: </label>
         <input type="text" id="chassis" name="chassis">
         <br>
         <label>Model name: </label>
         <input type="text" id="model" name="model">
         <br>
         <label>Pollution Certificate: </label>
         <input type="text" id="pollution" name="pollution">

         <br>
         <button type="submit" id="register" name="register">Register</button>

        </form>

     </div>

     <div>
         <form method="get" action="/search">
         <label>Search: </label>
         <input type="text" id="search" name="search" placeholder="Search no.">
         <button type="submit" id="search">SEARCH</button>
        </form>
     </div>    



</body>
</html>