@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
.register-left {
    text-align: center;
    color: #fff;
    margin-top: 4%;
}

body {
    background-image: url('../images/website\ image.png');
    background-repeat: no-repeat;
    background-position: 93% 8%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 150px;
    width: 100%;
    background-color: #000044;
    color: #aaaacc;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

.form-group {
    opacity: 0.7;
    padding: 10px 20px;
    padding-left: 30px;
    height: 48px;
    width: 50%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: white;
    background-color: grey;
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
    border: 1px solid black;
}

.form-group:focus,
.form-group:active {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}

.btnRegister {
    position: absolute;
    bottom: 0vh;
    /* top: 551px; */
    left: 90px;
    border: none;
    border-radius: 2.5rem;
    /* padding: 2%; */
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 13%;
    margin-bottom: 40px;
}

.register-left img {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 20%;
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 1s infinite alternate;
}

img {
    vertical-align: middle;
    border-style: none;
}

.register-form {
    padding: 10%;
    margin-top: 10%;
}

.txt_reg {
    color: black;
    opacity: 100%;
}

.sidetxt {
    font-family: 'Comfortaa', cursive;
    font-weight: 1000;
    font-size: 170%;
    position: absolute;
    bottom: 9vh;
    left: 59vw;
}

.box1 {
    position: absolute;
    left: 24vw;
    /* border-radius: 5px; */
    border-top: none;
    border-right: none;
    border-left: none;
}

.box2 {
    position: absolute;
    left: 24vw;
    border-top: none;
    border-right: none;
    border-left: none;
}

.box3 {
    position: absolute;
    left: 24vw;
    border-top: none;
    border-right: none;
    border-left: none;
}

.box4 {
    position: absolute;
    left: 24vw;
    border-top: none;
    border-right: none;
    border-left: none;
}

.box5 {
    position: absolute;
    left: 24vw;
    border-top: none;
    border-right: none;
    border-left: none;
}

.box6 {
    position: absolute;
    left: 24vw;
    padding-block: 2px 2px;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
}

.box {
    width: 500px;
    height: 305px;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(black, .2);
    background: lighten(#f0f4c3, 10%);
    position: absolute;
    left: 90px;
    top: 230px;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    background: transparent;
}