@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body{
    
    background-image: url('../images/website\ image.png');
    
    background-repeat: no-repeat;
    background-position: 93% 8%;
    

}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height:200px;
	background-color:#000044;
  	color:#aaaacc;
     
    font-family: 'Comfortaa', cursive;
    
    text-align: center;
    
}
.table{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border: 5px solid #FFFF00;
    padding: 10px;
}
.btn1{
    position: absolute;
    top: 60%;
    right: 50%;
    border:2px solid black;
    border-radius: 3px;
    background-color: rgb(135, 138, 143);


}
.btn:hover{
    color:#000000;
    background-color:#FFFFFF;
}
.sidetxt
{
    font-family: 'Comfortaa', cursive;
    font-weight: 1000;
    font-size: 170%;
    position: absolute;
    bottom: 9vh;
    left: 59vw;
}